<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flight Status</h1>
    <a href="/">Home&nbsp;</a>|
    <a href="flights">All Flights &nbsp;</a>|
    <a href="flights/new">&nbsp;Add Flights</a>
  </body>
</html>
