<section id="show-page">
    <ul>
        <li>Airline: <%= flight.airline %></li>
        <li>Airport: <%= flight.airport %></li>
        <li>Flight: <%= flight.flightNo %></li>
        <li>Departs: <%= flight.departs %></li>
        
    </ul>
</section>


